<div class="form-wrapper">
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="page-top-btns">
    <%= link_to("javascript:history.back()", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  
  <h1>ユーザー情報の編集</h1>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>ユーザー名</h2>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "textbox" %>
      </div>
    
      <div class="form-item">
        <h2>メールアドレス</h2>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textbox" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="form-item">
        <h2>
          新しいパスワード
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %>文字以上)
          <% end %><br/>
          <span class="form-note">(パスワードを変更しない場合は未入力のままにしてください)</span>
        </h2>
        <%= f.password_field :password, autocomplete: "new-password", class: "textbox" %>
      </div>
    
      <div class="form-item">
        <h2>新しいパスワードの確認</h2>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "textbox" %>
      </div>
    
      <div class="form-item">
        <h2>
          現在のパスワード<br/>
          <span class="form-note">(変更を完了するために必要です)</span>
        </h2>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "textbox" %>
      </div>
    
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
