<div class="form-wrapper">
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1>新規登録</h1>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  
    <div class="form">
      <div class="form-item">
        <h2>ユーザー名</h2>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "textbox" %> 
      </div>
      
      <div class="form-item">
        <h2>メールアドレス</h2>
        <%= f.email_field :email, autocomplete: "email", class: "textbox" %>
      </div>
    
      <div class="form-item">
        <h2>
          パスワード
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %>文字以上)
          <% end %>
        </h2>
        <%= f.password_field :password, autocomplete: "new-password", class: "textbox" %>
      </div>
    
      <div class="form-item">
        <h2>確認用パスワード</h2>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "textbox" %>
      </div>

      <div class="form-item">
        <h2>アイコン</h2>
        <div class="form-iconbox">
          <%= image_tag(@user.icon.url, class: "preview-usericon") if @user.icon? %>
          <%= f.file_field :icon, accept: "image/jpg,image/jpeg,image/gif,image/png" %>
          <%= f.hidden_field :icon_cache %>
        </div>
      </div>
    
      <div class="btns">
        <%= f.submit "新規登録", class: "btn" %>
      </div>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
