<% if @recruitment.errors.full_messages %>
  <% @recruitment.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<section class="form-wrapper">
  <div class="page-top-btns">
    <%= link_to("/recruitments/#{params[:id]}", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  <h1>案件の内容の編集</h1>
  <%= form_with model: @recruitment, url: "/recruitments/#{@recruitment.id}" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>案件の名前</h2>
        <%= f.text_field :name, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>サムネイル</h2>
        <%= image_tag(@recruitment.image.url) if @recruitment.image? %>
        <%= f.file_field :image, accept: "image/jpg,image/jpeg,image/gif,image/png" %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="form-item">
        <h2>概要</h2>
        <%= f.text_field :overview, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>募集対象</h2>
        <%= f.text_field :target, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>詳細</h2>
        <%= f.text_area :detail, class: "textarea" %>
      </div>
      <div class="form-item">
        <h2>タグ</h2>
        <div class="selects">
          <%= f.collection_select :tag_category_id, @categories, :id, :name, {selected: @tag.category.id},
            {data: {remote: true, url: url_for(action: :dynamic_tag)}, class: "select"} %>
          <div id="tag-select">
            <%= select_tag "tag", options_from_collection_for_select(@tag.category.tags, :id, :name, { :selected => @tag.id}), {class: "select"} %>
          </div>
        </div>
      </div>
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</section>