<span class="ham-btn">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="ham">
  <ul class="ham-menu">
    <li class="ham-menu-li"><%= link_to("トップ", "/projects/#{params[:project_id]}") %></li>
    <li class="ham-menu-li"><%= link_to("掲示板", "/projects/#{params[:id]}/project_posts") %></li>
    <li class="ham-menu-li"><%= link_to("案件", "/projects/#{params[:project_id]}/recruitments") %></li>
    <li class="ham-menu-li"><%= link_to("プロジェクト一覧にもどる", "/projects") %></li>
  </ul>
</nav>

<div class="two-col-wrapper">
  <section class="two-col-left">
    <div class="fixed">
      <div class="menu">
        <ul class="menu-list">
          <li><%= link_to("トップ", "/projects/#{params[:project_id]}") %></li>
          <li><%= link_to("掲示板", "/projects/#{params[:project_id]}/project_posts") %></li>
          <li><%= link_to("案件", "/projects/#{params[:project_id]}/recruitments") %></li>
          <li><%= link_to("プロジェクト一覧にもどる", "/projects") %></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="two-col-right">
    <div class="box-top-area bottom-space">
      <%= link_to("/projects/#{params[:project_id]}/recruitments/new", class: "text-btn") do %>
        <i class="fas fa-plus"></i>
        <p>追加</p>
      <% end %>
    </div>
    <div class="recruitments-bord">
      <% @recruitments.each do |recruitment| %>
        <%= link_to("/projects/#{params[:project_id]}/recruitments/#{recruitment.id}", class: "recruitment-box") do %>
          <% if recruitment.image? %>
            <%= image_tag recruitment.image.url, class: "recruitment-img" %>
          <% else %>
            <%= image_tag "image.png", class: "recruitment-img" %>
          <% end %>
          <div class="content">
            <% if recruitment.user.icon? %>
              <%= image_tag recruitment.user.icon.url, class:"small-usericon" %>
            <% else %>
              <%= image_tag "icon.png", class: "small-usericon" %>
            <% end %> 
            <div class="details">
              <h2><%= recruitment.name %></h2>
              <p class="target"><span class="fas fa-search"></span><%= recruitment.target %></p>
              <p class="overview"><%= recruitment.overview %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <div>
      </div>
      <div>
      </div>
    </div>
  </section>
</div>

<%= javascript_pack_tag 'hamburger' %>