<h1><%= @user.name %></h1>
<div class="follow-box">
  <%= link_to("/users/#{@user.id}/follows") do %>
    <p>フォロー:<%= @following_users.count %></p>
  <% end %>
  <%= link_to("/users/#{@user.id}/followers") do %>
    <p>フォロワー:<%= @follower_users.count %></p>
  <% end %>
</div>
<div class="user-box-btnarea">
  <% if @user.id == current_user.id %>
    <% if @user.admin? || @user.id == 1 %>
      <%= link_to("管理画面", "/users/admin_settings", class: "btn") %>
    <% end %>
    <%= link_to("アカウント情報の編集", "/users/edit", class: "btn") %>
    <%= link_to("", "/users/settings", class: "icon fas fa-cog", title: "設定") %>
  <% else %>
    <% if current_user != @user %>
      <div class="follow-btn">
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー解除', "/users/#{@user.id}/relationships", method: :delete, remote: true , class: "btn" %>
        <% else %>
          <%= link_to 'フォロー', "/users/#{@user.id}/relationships", method: :POST, remote: true , class:"btn" %>
        <% end %>
      </div>
    <% end %>
    <% if @user.connected?(current_user) %>
      <%= link_to("", "/chats/#{@user.connected_individual_room(current_user)[0].id}", class: "icon far fa-envelope") %>
    <% else %>
      <%= link_to("", "/chats/#{@user.id}", class: "icon far fa-envelope", method: :post) %>
    <% end %>
  <% end %>
</div>