<span class="ham-btn">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="ham">
  <ul class="ham-menu">
    <li class="ham-menu-li"><%= link_to("トップ", "/projects/#{params[:project_id]}") %></li>
    <li class="ham-menu-li"><%= link_to("掲示板", "/projects/#{params[:id]}/project_posts") %></li>
    <li class="ham-menu-li"><%= link_to("案件", "/projects/#{params[:project_id]}/recruitments") %></li>
    <li class="ham-menu-li"><%= link_to("プロジェクト一覧にもどる", "/projects") %></li>
  </ul>
</nav>

<div class="two-col-wrapper">
  <section class="two-col-left">
    <div class="fixed">
      <div class="menu">
        <ul class="menu-list">
          <li><%= link_to("トップ", "/projects/#{params[:project_id]}") %></li>
          <li><%= link_to("掲示板", "/projects/#{params[:project_id]}/project_posts") %></li>
          <li><%= link_to("案件", "/projects/#{params[:project_id]}/recruitments") %></li>
          <li><%= link_to("プロジェクト一覧にもどる", "/projects") %></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="two-col-right">
    <div class="box-top-area bottom-space">
      <%= link_to("/projects/#{params[:project_id]}/project_posts/new", class: "text-btn") do %>
        <i class="fas fa-plus"></i>
        <p>新規投稿</p>
      <% end %>
    </div>
    <div class="post-list">
      <% if @pj_posts.size > 0 %>
        <% @pj_posts.each do |post| %>
          <div class="post-box">
            <% if post.user.icon? %>
              <%= image_tag post.user.icon.url, class:"usericon" %>
            <% else %>
              <%= image_tag "icon.png", class: "usericon" %>
            <% end %>
            <div class="post-detail">
              <div class="post-top">
                <%= link_to("/users/#{post.user.id}") do %>
                  <div class="post-user-box">
                    <p><%= post.user.name %></p>
                  </div>
                <% end %>
                <a href="" class="md-btn" data-target="modal<%= post.id %>"><i class="fas fa-ellipsis-v"></i></a>
              </div>
              <div id="modal<%= post.id %>" class="modal">
                <div class="md-overlay md-close"></div>
                <div class="md-contents">
                  <ul class="md-list">
                    <% if post.user_id == current_user.id %>
                      <li>
                        <%= link_to("/projects/#{params[:project_id]}/project_posts/#{post.id}/edit") do %>
                          <i class="far fa-edit"></i>
                          <p>投稿内容の編集</p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("/projects/#{params[:project_id]}/project_posts/#{post.id}",
                          { method: :delete, class: "redtext" }) do %>
                          <i class="far fa-trash-alt"></i>
                          <p>この投稿を削除</p>
                        <% end %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to("/users/#{post.user.id}") do %>
                          <i class="fas fa-user"></i>
                          <p>このユーザーの詳細</p>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <%= simple_format(post.content, class: "post-content") %>
            </div>
          </div>
        <% end %>
      </p>
      <% else %>
        <p>投稿はまだありません</p>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_pack_tag 'hamburger' %>