<span class="ham-btn">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="ham">
  <ul class="ham-menu">
    <li class="ham-menu-li"><%= link_to("< プロジェクト一覧", "/projects") %></li>
    <li class="ham-menu-li"><%= link_to("ホーム", "/projects/#{params[:id]}") %></li>
    <li class="ham-menu-li"><%= link_to("掲示板", "#") %></li>
    <li class="ham-menu-li"><%= link_to("案件", "/projects/#{params[:id]}/recruitments") %></li>
  </ul>
</nav>

<div class="two-col-wrapper">
  <section class="two-col-left">
    <div class="fixed">
      <div class="menu">
        <ul class="menu-list">
          <li><%= link_to("< プロジェクト一覧", "/projects") %></li>
          <li><%= link_to("ホーム", "/projects/#{params[:id]}") %></li>
          <li><%= link_to("掲示板", "#") %></li>
          <li><%= link_to("案件", "/projects/#{params[:id]}/recruitments") %></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="two-col-right project-show">
    <h2><%= @project.name %></h2>
    <%= simple_format(@project.about, class: "project-about") %>
    <ul class="list">
      <% if current_user.project_master?(@project) %>
        <li class="li-tile"><%= link_to("プロジェクト情報編集", "/projects/#{params[:id]}/edit") %></li>
      <% end %>
      <li class="li-tile"><%= link_to("メンバー一覧", "#") %></li>
      <li class="li-tile"><%= link_to("メンバー招待", "#") %></li>
    </ul>
  </section>
</div>
<%= javascript_pack_tag 'hamburger' %>