<div class="wrapper">
  <div class="page-top-btns">
    <%= link_to("/admin", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
    <%= link_to("/tag_categories", class: "page-forward") do %>
      <p>カテゴリ一覧</p>
      <i class="fas fa-angle-right"></i>
    <% end %>
  </div>
  <h1>タグ一覧</h1>
  <div class="table-top-area">
    <%= link_to("/tags/new", class: "text-btn") do %>
      <i class="fas fa-plus"></i>
      <p>タグ追加</p>
    <% end %>
    <div class="sort">
      <i class="fas fa-sort"></i>
      <%= select_tag "sort", options_for_select(@sort_list, 1), {
        data: {
          remote: true,
          url: url_for(action: :sort)
        }
      }%>
    </div>
  </div>
  <table id="sort-tag">
    <%= render 'tags/tag_table', tags: @tags %>
  </table>
</div>