<% if @post.errors.full_messages %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="error-msg">
      <%= message %>
    </div>
  <% end %>
<% end %>

<span class="ham-btn">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="ham">
  <ul class="ham-menu">
    <li><%= link_to("フォローしているユーザー", "/posts", {class: "menu-list-textbtn #{"active" if params[:search] == nil}"}) %></li>
    <li><%= link_to("すべてのユーザー", "/posts?search=all", {class: "menu-list-textbtn #{"active" if params[:search] == "all"}"}) %></li>
  </ul>
</nav>

<div class="tl-wrapper">
  <section class="tl-left">
    <ul>
      <li><%= link_to("フォローしているユーザー", "/posts", {class: "menu-list-textbtn #{"active" if params[:search] == nil}"}) %></li>
      <li><%= link_to("すべてのユーザー", "/posts?search=all", {class: "menu-list-textbtn #{"active" if params[:search] == "all"}"}) %></li>
    </ul>
  </section>
  <section class="tl-post-list">
    <%= form_with model: @post, url: "/posts" do |f| %>
      <%= f.text_area :content, class: "newpost-text", rows: "2" %>
      <div class="newpost-items">
        <%= f.submit "投稿", class: "btn" %>
      </div>
    <% end %>
    <div class="post-list">
      <% @posts.each do |post| %>
        <div class="post-box">
          <% if post.user.icon? %>
            <%= image_tag post.user.icon.url, class:"usericon" %>
          <% else %>
            <%= image_tag "icon.png", class: "usericon" %>
          <% end %>
          <div class="post-detail">
            <div class="post-top">
              <%= link_to("/users/#{post.user.id}") do %>
                <div class="post-user-box">
                  <p><%= post.user.name %></p>
                </div>
              <% end %>
              <a href="" class="md-btn" title="メニュー" data-target="modal<%= post.id %>"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <div id="modal<%= post.id %>" class="modal">
              <div class="md-overlay md-close"></div>
              <div class="md-contents">
                <ul class="md-list">
                  <% if post.user_id == current_user.id %>
                    <li>
                      <%= link_to("/posts/#{post.id}/edit") do %>
                        <i class="far fa-edit"></i>
                        <p>投稿内容の編集</p>
                      <% end %>
                    </li>
                    <li class="redtext">
                      <%= link_to("/posts/#{post.id}", method: :delete) do %>
                        <i class="far fa-trash-alt"></i>
                        <p>この投稿を削除</p>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to("/users/#{post.user.id}") do %>
                        <i class="fas fa-user"></i>
                        <p>このユーザーの詳細</p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <%= link_to("/posts/#{post.id}") do %>
              <%= simple_format(post.content, class: "post-content") %>
            <% end %>
            <div class="post-items" id="like_<%= post.id %>">
              <%= render 'posts/post_items', post: post %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_pack_tag 'hamburger' %>
<%= javascript_pack_tag 'posts/postform' %>