<div class="wrapper">
  <div class="post-list">
    <section class="post-box">
      <div class="post-top">
        <%= link_to("/users/#{@post.user.id}") do %>
          <div class="post-user-box">
            <% if @post.user.icon? %>
              <%= image_tag @post.user.icon.url, class:"usericon" %>
            <% else %>
              <%= image_tag "icon.png", class: "usericon" %>
            <% end %>
            <p><%= @post.user.name %></p>
          </div>
        <% end %>
        <a href="" class="md-btn" title="メニュー" data-target="modal<%= @post.id %>"><i class="fas fa-ellipsis-v"></i></a>
      </div>
      <div id="modal<%= @post.id %>" class="modal">
        <div class="md-overlay md-close"></div>
        <div class="md-contents">
          <ul class="md-list">  
            <% if @post.user_id == current_user.id %>
              <li>
                <%= link_to("/posts/#{@post.id}/edit") do %>
                  <i class="far fa-edit"></i>
                  <p>投稿内容の編集</p>
                <% end %>
              </li>
              <li class="redtext">
                <%= link_to("/posts/#{@post.id}", method: :delete) do %>
                  <i class="far fa-trash-alt"></i>
                  <p>この投稿を削除</p>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to("/users/#{@post.user.id}") do %>
                  <i class="fas fa-user"></i>
                  <p>このユーザーの詳細</p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="post-content">
        <p><%= simple_format(@post.content) %></p>
      </div>
      <div class="post-items" id="like_<%= @post.id %>">
        <%= render 'posts/post_items', post: @post %>
      </div>
    </section>
  </div>
</div>